@tailwind base;
@tailwind components;
@tailwind utilities;

.line-height{
    line-height: 2.3rem;
}

.line-height-footer{
    line-height: 1.6rem;
}

.footer-line-height{
    line-height: 1.35rem;
}

.paragraph-line-height{
    line-height:1.4rem;
}

.letter-spacing{
    letter-spacing: 0.05rem;
}

.grow-together-line-height{
    line-height: 1.25rem;
}

.footer-bg{
    background-image: url('/images/bg-footer-top-mobile.svg'), url('/images/bg-section-bottom-mobile-1.svg');
    background-repeat:no-repeat;
    background-size:contain;
}

.desktop-footer-bg{
    background-image: url('/images/bg-footer-top-desktop.svg'), url('/images/bg-section-bottom-desktop-1.svg');
    background-repeat:no-repeat;
    background-size:contain;
}

    @media screen and (min-width:320px) {
        .img-none{
            display:none;
            height:0;
            width:0;
        }    
    }

    @media screen and (min-width:375px) {
        .img-none{
            display:none;
            height:0;
            width:0;
        }    
    }

    @media screen and (min-width:425px) {
        .img-none{
            display:none;
        }    
    }