@tailwind base;
@tailwind components;
@tailwind utilities;

.line-height{
    line-height: 2.3rem;
}

.line-height-footer{
    line-height: 1.6rem;
}

.footer-line-height{
    line-height: 1.35rem;
}

.paragraph-line-height{
    line-height:1.4rem;
}

.letter-spacing{
    letter-spacing: 0.05rem;
}

.grow-together-line-height{
    line-height: 1.25rem;
}
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */